{% extends "noraebook/base.html" %}
{% load staticfiles %}

{% block content %}
  {% if songs_list|length > 0 %}
    {% csrf_token %}
    <div class="row">
      {% for song in songs_list %}
        <div class="result small-12 medium-12 large-12 columns">
          <div class="code-result small-3 medium-2 large-2 columns">
            {{ song.code }}
          </div>
          <div class="song-result small-8 medium-9 large-9 columns">
            <div class="title-result small-12 large-12 columns">
              {{ song.title }}
            </div>
            <div class="artist-result small-12 large-12 columns">
              &nbsp;{{ song.artist }}
            </div>
          </div>
          <div class="fav-result small-1 medium-1 large-1 columns">
            {% if request.user.is_authenticated %}
              <a class="likable liked" href="#"><i class="fi-heart" id="{{ song.id }}"></i></a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      <script type="text/javascript" src="{% static 'noraebook/js/norae-favorite.js' %}"></script>
    {% else %}
      <div class="small-12 medium-12 large-12 columns">
        <h4>Looks like you have no favorites stored yet. Start favoriting songs to add to this list!</h4>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block endscripts %}
  <script type="text/javascript" src="{% static 'noraebook/js/csrf-ajax.js' %}"></script>
{% endblock %}
