<!DOCTYPE html>
{% extends "noraebook/base.html" %}

{% block header %}
  {% load staticfiles %}
  <script type="text/javascript" src="{% static 'noraebook/js/vendor/jquery.js' %}"></script>
{% endblock %}

{% block nav %}
  <div class="row">
    <div class="small-12 columns">
      <div class="row search collapse">
        <i class="fi-magnifying-glass"></i>
        <input type="text" class="search-field" id="search-data" placeholder="Find Your Favorite Song..." autocomplete="off">
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="small-12 small-centered columns" id="results">
    </div>
  </div>

{% endblock %}


{% block endscripts %}
  <script type="text/javascript" src="{% static 'noraebook/js/csrf-ajax.js' %}"></script>
  <script type="text/javascript" src="{% static 'noraebook/js/norae-search.js' %}"></script>
{% endblock %}
