{% extends "noraebook/base.html" %}

{% block header %}
  {% load staticfiles %}
  <script type="text/javascript" src="{% static 'noraebook/js/vendor/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'noraebook/js/responsive-tables.js' %}"></script>
{% endblock %}

{% block nav %}
  <div class="row">
    <div class="small-12 columns">
      <div class="row search">
        <div class=" small-12 columns">
          <div class="row collapse">
            <div class="small-12 large-12 columns">
              <i class="fi-magnifying-glass"></i>
              <input type="text" class="search-field" id="search-data" placeholder="Find Your Favorite Song..." autocomplete="off">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="small-12 small-centered columns" id="results">
    </div>
  </div>

{% endblock %}


{% block endscripts %}
  <script type="text/javascript" src="{% static 'noraebook/js/csrf-ajax.js' %}"></script>
  <script type="text/javascript" src="{% static 'noraebook/js/norae-search.js' %}"></script>
{% endblock %}
