

/* Styles for search dropdown */
input[type="text"], input[type="number"], select {
    font-size: 16px;
}

.result {
    border-bottom: 1px solid #ccc;
}

.code-result {
    font-size: 190%;
}

.title-result {
    font-size: 120%;
}

.artist-result {
    font-size: 80%;
}

.fav-result {
    font-size: 190%;
    padding-left: 0;
}

.fav-selected {
    color: #e74c3c;
}

.liked {
    color: #e74c3c;
}

.liked:focus {
    color: #e74c3c;
}

.liked:hover {
    color: #e74c3c;
}


.not-liked {
    color: #000000;
}

.not-liked:focus {
    color: #000000;
}

.not-liked:hover {
    color: #000000;
}

.submit-error {
    color: #e74c3c;
}

.search {
    position: relative;
    padding-top: 20px;
    margin-bottom: 0;
}

.search input {
    padding-left: 60px;
}

.search .keyword {
    position: absolute;
    width: 100px;
    margin-left: 10px;
    margin-top: 17px;
}

.search i {
    position: absolute;
    margin-left: 20px;
    font-size: 30px;
    line-height: 50px;
    color: #ccc;
}

.search .search-field {
    /*font-size: 16px;*/
    height: 50px;
}

#drop3.content.open {
    position: absolute !important;
    top: 30px !important;
    left: -10px !important;
    width: 120% !important;
}

table {
    border-width: 0;
}

.subheader {
    margin-left: 1.0rem;
}

a {
    color: #27ae60;
}

.search .arrow-down {
    border-top: 6px solid #27ae60;
}

.top-bar {
    background: #27ae60;
}

.top-bar.expanded .title-area {
    background: #27ae60;
}

.top-bar-section ul li {
    background: #27ae60;
}

.submit-label {
    color: #6f6f6f;
}

.submit-button {
    background: #27ae60;
}

.button {
    background: #27ae60;
}

@media only screen and (min-width: 40.0625em) {
    .top-bar {
        background: #27ae60;
    }

    .top-bar-section li:not(.has-form) a:not(.button) {
        background: #27ae60;
    }
}



.center.row {
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	max-width: 500px;
}

.signup-panel {
    padding: 15px;
}

.row .signup-panel {
    margin: 0;
}

.signup-panel i {
    font-size: 30px;
    line-height: 50px;
    color: #999;
}

.signup-panel form input, .signup-panel form span {
    height: 50px;
    font-size: 16px;
}

.signup-panel .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
}

.signup-panel .button {
  /*margin-left: 35%;*/
}

section.active {
	padding-top: 75px !important;
}

p.title {
	border-bottom: 1px solid #cccccc !important;
}

.content{
	height: 450px;
}







