<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="UTF-8">
  <title>Noraebook</title>
  <meta name="description" content="Find your favorite karaoke song codes easily. Stop fumbling through pages and pages of songbooks at your local karaoke spots.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'noraebook/css/foundation.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'noraebook/css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'noraebook/icons/foundation-icons.css' %}" />

  {% block header %}{% endblock %}

</head>
<body>
  <div class="fixed sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Noraebook</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="/"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          {% if request.user.is_authenticated %}
            <li id="login-tab"><a href="/logout/">Log Out</a></li>
          {% else %}
            <li id="login-tab"><a href="/login/">Log In</a></li>
          {% endif %}
        </ul>
        <ul class="right">
          <li id="submit-tab"><a href="/submit/">Submit</a></li>
        </ul>
        <ul class="right">
          {% if request.user.is_authenticated %}
            <li id="favorites-tab"><a href="/favorites/">Favorites</a></li>
          {% else %}
            <li id="login-tab"><a href="/login/">Favorites</a></li>
          {% endif %}
        </ul>
      </section>
    </nav>
    {% block nav %}{% endblock %}
  </div>
  <script src={% static 'noraebook/js/vendor/jquery.js' %}></script>
  {% block content %}{% endblock %}
  <script src="{% static 'noraebook/js/vendor/modernizr.js' %}"></script>
  <script src={% static 'noraebook/js/vendor/fastclick.js' %}></script>
  <script src={% static 'noraebook/js/foundation.min.js' %}></script>
  <script>
    $(document).foundation();
  </script>

  {% block endscripts %}{% endblock %}
</body>
</html>