{% extends "noraebook/base.html" %}

{% block content %}
  <div class="row">
    <div class="large-6 medium-8 medium-centered large-centered columns">
      <div class="row search">
        <h3 class="subheader">Song not available? Submit a request to add it to our database!</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 medium-8 medium-centered large-centered columns">
      <form action="/submit/" method="post">
        {% csrf_token %}
        {% for field in form %}
          <label class="submit-label" for="{{ field.auto_id }}">{{ field.label }}
            {{ field }}
          </label>
        {% endfor %}
        {% if show_error == True %}
          <p class="submit-error">Invalid Submission. Please fill in all form fields.</p>
        {% else %}
          <p></p>
        {% endif %}
        <button class="button small">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
