{% extends "noraebook/base.html" %}

{% block content %}
  <div class="center row">
    <div class="large-12 columns">
      <h3>Song not available? Submit a request to add it to our database!</h3>
      <form action="/submit/" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="row collapse">
            <label class="submit-label" for="{{ field.auto_id }}">{{ field.label }}
              {{ field }}
            </label>
          </div>
        {% endfor %}
        {% if show_error == True %}
          <p class="submit-error">Invalid Submission. Please fill in all form fields.</p>
        {% else %}
          <p></p>
        {% endif %}
        <button class="button small">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
