{% extends "noraebook/base.html" %}

{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <div class="row search">
        <h3 class="subheader">Song not available? Submit a request to add it to our database!..</h3>
      </div>
    </div>
    <div class="small-12 columns">
      <label class="submit-label">Song Code:
        <input type="number" placeholder="enter number" />
      </label>
      <label class="submit-label">Title:
        <input type="text" placeholder="enter text" />
      </label>
      <label class="submit-label">Artist:
        <input type="text" placeholder="enter text" />
      </label>
      <label class="submit-label">Company:
        <select>
          <option>Select..</option>
          <option>TJ Media</option>
          <option>Kumyoung</option>
          <option>Platinum</option>
        </select>
      </label>
      <button class="submit-button">Submit</button>
    </div>
  </div>
{% endblock %}
